:root{
  --light-blue : rgb(1.6%,76.5%,100%);
  --light-blue-shadow:  rgb(69 211 255 / 27%);
  --sea-green: rgb(3.9%,74.5%,67.8%);
  --sea-green-dark: rgb(4.7%,74.9%,68.2%);
  --sea-green-extra-dark: rgb(3.5%,74.5%,67.8%);
  --sea-green-shadow: rgba(11, 190, 173,0.4);
  --header-hamburger-background : rgba(11, 190, 173,0.8);
  --orange: rgb(96.1%,49.8%,9%);
  --dark-orange: rgb(100%,34.5%,13.7%);
  --orange-shadow: rgba(245, 127, 23,0.2);
  --white: rgb(100%,100%,100%);
  --black: rgb(20%,20%,20%);
  --disabled-btn: #09bead7a;
  --error-message:  #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow:  #9c9c9ce3;
  --toast-success: rgb(4.7%,74.9%,68.2%);
  --loader-color:rgb(4.7%,74.9%,68.2%);
}